body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #35015a, #580e8d, #000000, #420170);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.photo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .photo-container img {
        max-width: 215px;
    }
    .dating-time p{
        font-size: 17px;
    }
    .dating-time strong{
        font-size: 17px;
    }
    .gif-container {
        display: flex;
        padding-top: 10%;
    }
    .text-container{
        padding-top:8%;
    }
    .gifzinho{
        width: 75px;
        height: 60px;
    }
    .primeiro-gif{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .segundo-gif{
        padding-right: 3rem !important;
    }
    .terceiro-gif{
        padding-right: 3rem !important;
    }
    .gif-container {
        display: flex;
        padding-top: 10%;
    }
    .gifzinho{
        width: 75px;
        height: 60px;
    }
}

@media (min-width: 769px) {
    .photo-container img {
        max-width: 20%;
    }
    .dating-time p{
        font-size: 13px;
    }
    .dating-time strong{
        font-size: 13px;
    }
    .gif-container {
        display: flex;
        padding-top: 10%;
    }
    .text-container{
        padding-top:2%;
    }
    .primeiro-gif{
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
    .segundo-gif{
        padding-right: 10rem !important;
    }
    .terceiro-gif{
        padding-right: 10rem !important;
    }
    .gif-container {
        display: flex;
        padding-top: 2%;
    }
    .gifzinho{
        width: 160px;
        height: 140px;
    }
}

.date-container {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #fff;
}
.music-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.text-fofinho{
    border-top: 1px solid #eee;
    padding: 4% 10% 0% 10%;
    color: white;
    font-size: 15px;
}